# Editor directories and files
.idea

# Package Manager
node_modules

# System
.DS_Store

# Bundle
dist
coverage
.dumi

# local env files
*.local

.umi
.umi-production
#yarn.lock

packages/element-plus-react/es
packages/element-plus-react/lib
packages/element-plus-react/theme-chalk
packages/element-plus-react/README.md