.demos-watermark {
  .wrapper {
    display: flex;
  }
  .watermark {
    display: flex;
    flex: auto;
  }
  .demo {
    flex: auto;
  }
  .form {
    width: 330px;
    margin-left: 20px;
    border-left: 1px solid #eee;
    padding-left: 20px;
  }

  img {
    z-index: 10;
    width: 100%;
    max-width: 300px;
    position: relative;
  }
}
